/*  your css code here. If applicable */
#animal-photos{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.container{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: center;
	align-items: center;
	
}